@page "/tictactoe/{LobbyCode}/{PlayerId}"
@inject HttpClient Http
@using System.Timers;

<div class="container">
    <h3>Tic Tac Toe</h3>
    <div class="row">
        <div class="col-lg-2">
            @Movetext
        </div>
        <div class="col-lg-8">
            <div class="board">
                @if (GameState != null)
                { 
                    <TicTacToeGameBoardComponent Board="@GameState.Board" Path="Enumerable.Empty<int>()" ClickCell="ClickCell"></TicTacToeGameBoardComponent>
                }
                else
                {
                    <div>Loading...</div>
                }
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string LobbyCode { get; set; }
    [Parameter]
    public string PlayerId { get; set; }
    public string Movetext { get; set; }

    public TicTacToeGameStatus GameState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameState = await Http.PostFromJsonAsync<string, TicTacToeGameStatus>($"TicTacToe/GetGameStatus?LobbyCode={LobbyCode}", LobbyCode);
        Console.Write(GameState);
        await base.OnInitializedAsync();
    }
    private async void ClickCell(IEnumerable<int> Path)
    {
        Movetext = "Clicked " + string.Join(',', Path.Select(i => i.ToString()));
        StateHasChanged();
    }
}
