@if (Board != null)
{
    if (Board.Dimension % 2 == 1)
    {
        <div class="p-2">
            <table class="table m-0">
                @foreach (var board in Board.Boards)
                {
                    <tr>
                        <td><TicTacToeGameBoardComponent Board="board" Path="Path.Append(board.Position)" ClickCell="ClickCell" Display="Display" /></td>
                    </tr>

                }
            </table>
        </div>
    }
    else if (Board.Dimension >= 2)
    {
        
        <div class="board-container">
            <table class="table">
                @foreach (var board in Board.Boards)
                {
                    var boardPath = Path.Append(board.Position);
                    
                    <tr>
                        @foreach (var subBoard in board.Boards)
                        {
                            var subPath = boardPath.Append(subBoard.Position);
                        <td>
                            @if (subBoard.Dimension == 0)
                            {
                                <a class="@(Board.Cell != null ? "occupied-cell" : null) @(Highlighted(subPath) ? "highlighted" : null)" 
                                   @onclick="async () => ClickCell(subPath)">@subBoard.Cell</a>
                            }
                            else
                            {
                                <TicTacToeGameBoardComponent Board="subBoard" Path="subPath" ClickCell="ClickCell" Display="Display" />
                            }
                        </td>
                        }
                    </tr>
                }
            </table>
        </div>

    }
}

@code {
    [Parameter]
    public TicTacToeBoard Board { get; set; }
    [Parameter]
    public IEnumerable<int> Path { get; set; }
    [Parameter]
    public Action<IEnumerable<int>> ClickCell { get; set; }
    [Parameter]
    public TicTacToeDisplay Display { get; set; }
    private bool Highlighted(IEnumerable<int> PathOf)
    {

        if (Display != null && Display.HighlightedCellPath != null)
        {
            return PathOf.Zip(Display.HighlightedCellPath, (i, j) => i == j).All(i => i);
        }
        return false;
    }
}
