@page "/tictactoe/{LobbyCode}/{PlayerId}"
@inject HttpClient Http
@using System.Timers;

<div id="game">
    <h3>Tic Tac Toe </h3>

    <div class="game-container">
        <div class="border" id="board">
            @if (GameState != null)
            { 
                <TicTacToeGameBoardComponent Board="@GameState.Board" Path="Enumerable.Empty<int>()" ClickCell="ClickCell"></TicTacToeGameBoardComponent>
            }
            else
            {
                <div>Loading...</div>
            }
        </div>

        <div id="infobox">
            <div class="border">
                @if (GameState != null)
                {
                    <h4>@GameState.CurrentPlayerName's Turn</h4>
                }
                @Movetext
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string LobbyCode { get; set; }
    [Parameter]
    public string PlayerId { get; set; }
    public string Movetext { get; set; }

    public TicTacToeGameStatus GameState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GameState = await Http.PostFromJsonAsync<string, TicTacToeGameStatus>($"TicTacToe/GetGameStatus?LobbyCode={LobbyCode}", LobbyCode);
        Console.Write(GameState);
        await base.OnInitializedAsync();
    }
    private async void ClickCell(IEnumerable<int> Path)
    {
        var move = new TicTacToeMove()
        {
            LobbyCode = LobbyCode,
            Path = Path,
            PlayerId = PlayerId
        };
        var moveResult = await Http.PostFromJsonAsync<TicTacToeMove, MoveResult>("TicTacToe/PerformMove", move);
        Movetext = $"{moveResult.Message}";
        StateHasChanged();
    }
}
