@page "/lobby/{LobbyCode}" 
@inject HttpClient Http 
@using System.Timers; 
<h3>Lobby</h3>

<h4>Code: @Status.LobbyCode</h4>

<h4>Players:</h4>
<table>
    @foreach(var player in Status.Players)
    {
        <tr><td>@player.Nickname</td></tr> 
    }
</table>

@code {
    [Parameter]
    public string LobbyCode { get; set; }
    public LobbyStatus Status { get; set; }
    protected override void OnInitialized()
    {
        var timer = new Timer(1000);
        timer.Elapsed += (obj, e) =>
        {
            Console.WriteLine("Getting Status");
            var request = new LobbyStatusRequest()
            {
                LobbyCode = LobbyCode
            };
            Status = Http.PostFromJsonAsync<LobbyStatusRequest, LobbyStatus>("Lobbies/Status", request).Result;
        };
        timer.Start();


        base.OnInitialized();
    }
}
